<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>

						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<strong class="font-bold" th:value="@{user.name}"></strong>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                        Chameleon
                    </div>
                </li>
                <li>
                    <a th:href="@{/dashboard}"><i class="fa fa-diamond"></i> <span class="nav-label">仪表盘</span></a>
                </li>
                <li>
                    <a th:href="@{/api/user}"><i class="fa fa-users"></i> <span class="nav-label">用户管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/role}"><i class="fa fa-users"></i> <span class="nav-label">角色管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/function}"><i class="fa fa-users"></i> <span class="nav-label">功能管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/group}"><i class="fa fa-users"></i> <span class="nav-label">组管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/template}"><i class="fa fa-users"></i> <span class="nav-label">爬虫模板管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/task}"><i class="fa fa-users"></i> <span class="nav-label">爬虫任务管理</span></a>
                </li>
                <li>
                    <a th:href="@{/api/statistics}"><i class="fa fa-users"></i> <span class="nav-label">爬虫统计管理</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">监控模块</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/api/monitor/mapper">Mapper日志中心</a></li>
                        <li><a href="/api/monitor/service">Service日志中心</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>



