server:
  port: 8090
  tomcat:
    uri-encoding: UTF-8

spring:
  thymeleaf:
    mode: LEGACYHTML5
    cache: false
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  profiles:
    active: dev
  http:
    multipart:
      max-file-size: 30Mb
      max-request-size: 30Mb
  devtools:
    restart:
      enabled: true
  mail:
    host: smtp.qq.com
    username: 532033837@qq.com
    password: hivogcacqorocaje
    properties:
      mail:
        smtp:
          auth: true #这样才能通过验证
          starttls:
            enable: true
            required: true

mybatis:
  configuration:
    map-underscore-to-camel-case: true #驼峰转换
  mapper-locations: mybatis/*Mapper.xml
  typeAliasesPackage: cn.code.chameleon.pojo

pagehelper:
  helperDialect: mysql
  reasonable: true #分页参数合理化，最小值不能小于0，最大值不能超过行数
  supportMethodsArguments: true
  params: count=countSql
  rowBoundsWithCount: true
  offsetAsPageNum: true #pageNum=offset pageSize=limit